header {
    height: var(--header-height);
    border-bottom: var(--border-thickness) solid #000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 var(--common-gap);
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    z-index: 10;

    /* Mid ~ Tablet Size */
    @media (min-width: 836px) and (max-width: 1439px) {
        & {
            border-bottom: var(--border-thickness) solid #000;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        ul {
            width: calc(var(--left-width) + var(--common-gap) + 6rem);
            display: flex;
            align-items: center;
            justify-content: space-between;

            /* Mid ~ Tablet Size */
            @media (min-width: 836px) and (max-width: 1439px) {
                & {
                    width: calc(var(--left-width) + var(--common-gap) + 40px);
                }
            }

            li {
                a {
                    font-size: 2.3rem;
                    color: #000;

                    &.logo {
                        font-weight: 600;
                        font-size: 2.4rem;

                        /* Mobile Size */
                        @media (min-width: 360px) and (max-width: 835px) {
                            & {
                                font-size: 1.7rem;
                            }
                        }
                    }

                    &.active {
                        color: var(--primary);
                    }



                    /* Mid ~ Tablet Size */
                    @media (min-width: 836px) and (max-width: 1439px) {
                        & {
                            font-size: 1.6rem;

                            &.logo {
                                font-size: 1.7rem;
                            }
                        }
                    }

                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 835px) {
                        &:not(.logo) {
                            display: none;
                        }
                    }

                }
            }
        }
    }

    /* Mobile Size */
    @media (min-width: 360px) and (max-width: 835px) {
        & {
            position: unset;
            width: 100%;
            flex-shrink: 0;
        }
    }

}