header {
    height: var(--header-height);
    border-bottom: 1px solid #000;
    position: fixed;
    width: calc(100% - 60px);
    background-color: #fff;
    z-index: 10;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        ul {
            width: calc(var(--left-width) + 90px);
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                a {
                    font-size: 23px;
                    color: #000;

                    &.logo {
                        font-weight: 600;
                        font-size: 24px;
                    }

                    &.active {
                        color: #5D4FF6;
                    }


                    /* Tablet size */
                    @media (min-width : 1023px) and (max-width:1439px) {
                        & {
                            font-size: 16px;

                            &.logo {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}