header{
    height: var(--header-height);
    border-bottom: var(--border-thickness) solid #000;   
    position: fixed;
    width: calc(100% - (var(--common-gap)*2));
    background-color: #fff;
    z-index: 10;

    @media (min-width: 1024px) and (max-width: 1439px){
        &{
            border-bottom: var(--border-thickness) solid #000;  
        }
    }

    nav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        ul{
            width: calc(var(--left-width) + var(--common-gap) + 60px);  
            display:flex;
            align-items: center;
            justify-content: space-between;

            @media (min-width: 661px) and (max-width: 1439px){
                &{
                    width: calc(var(--left-width) + var(--common-gap) + 48px);  
                }
            }

            li{
                a{
                    font-size: 23px;
                    color:#000;

                    &.logo{
                        font-weight: 600;
                        font-size: 24px;

                        @media (min-width: 360px) and (max-width: 661px){
                            &{
                                font-size: 17px;
                            }
                        }
                    }

                    &.active{
                        color: var(--primary);
                    }


                    /* Tablet Size */
                    @media (min-width: 661px) and (max-width: 1439px){
                        &{
                            font-size: 16px;
                            &.logo{
                                font-size: 17px;
                            }
                        }
                    }

                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 661px){
                        &:not(.logo){
                            display: none;
                        }
                    }

                }
            }
        }
    }

    /* Mobile Size */
    @media (min-width: 360px) and (max-width: 661px){
        &{
           position: unset;
           width: 100%;
        }
    }

}