.wrap {
    .m-bottom-menu {
        position: fixed;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - (var(--common-gap) * 2));

        .m-menu-btn {
            font-size: 16px;
            height: 46px;
            width: 128px;
            font-weight: 500;
            background-color: rgba(236, 236, 236, 0.5);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 0;
            border-radius: 100px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .m-nav {
            width: 100%;
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            background-color: rgba(236, 236, 236, 0.7);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            position: absolute;
            bottom: calc(40px + var(--common-gap));
            left: 50%;
            transform: translateX(-50%);
            padding: 20px var(--common-gap);
            box-sizing: border-box;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.8s ease-out;

            /* Page link */
            >ul {
                li {

                    a{
                        font-size: 20px;
                        font-weight: 500;
                    }

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }

            /* sns link */
            >div {
                >a {
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    
                    img{
                        width: 10px;
                        height: 10px;
                    }

                    &:first-child {
                        margin-bottom: 6px;
                    }
                }
            }

            /* close button */
            .m-nav-close {
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: 0;
                position: absolute;
                top: 16px;
                right: 9px;

                img {
                    width: 28px;
                    height: 28px;
                }
            }

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }



        /* if mobile size, mene show */
        @media (min-width : 360px) and (max-width:661px) {
            display: block;
        }

        /* if not mobile size, menu hide */
        @media (min-width : 661px) {
            display: none;
        }


    }

}