m-nav {
    .m-bottom-menu {
        position: fixed;
        bottom: 1.2rem;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - (var(--common-gap) * 2));

        .m-menu-btn {
            font-size: 1.6rem;
            height: 4.6rem;
            width: 12.8rem;
            font-weight: 500;
            background-color: rgba(240, 240, 240, 0.5);
            backdrop-filter: blur(1rem);
            -webkit-backdrop-filter: blur(1rem);
            border: 0;
            border-radius: 10rem;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .m-nav {
            width: 100%;
            height: 22rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 1rem;
            background-color: rgba(228, 228, 228, 0.5);
            backdrop-filter: blur(1rem);
            -webkit-backdrop-filter: blur(1rem);
            position: absolute;
            bottom: calc(4rem + var(--common-gap));
            left: 50%;
            transform: translateX(-50%);
            padding: 20px var(--common-gap);
            box-sizing: border-box;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.8s ease-out;

            /* Page link */
            >ul {
                li {

                    a{
                        font-size: 2rem;
                        font-weight: 500;
                    }

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }
            }

            /* sns link */
            >div {
                >a {
                    font-size: 1.2rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: .1rem;
                    
                    img{
                        width: 1rem;
                        height: 1rem;
                    }

                    &:first-child {
                        margin-bottom: .6rem;
                    }
                }
            }

            /* close button */
            .m-nav-close {
                width: 2.8rem;
                height: 2.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: 0;
                position: absolute;
                top: 1.6rem;
                right: .9rem;

                img {
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }



        /* if mobile size, mene show */
        @media (min-width : 360px) and (max-width:835px) {
            display: block;
        }

        /* if not mobile size, menu hide */
        @media (min-width : 835px) {
            display: none;
        }


    }

}