work-list {
    padding-bottom: 9.8rem;
    .detail-list {
        display: flex;
        align-items: flex-start;

        .list-group {
            width: 100%;

            ul {
                width: 100%;

                li {
                    border-top: var(--border-thickness) solid #000;

                    a {
                        display: flex;
                        align-items: center;
                        line-height: 4.6rem;

                        /* Mid ~ Tablet Size */
                        @media (min-width: 836px) and (max-width: 1439px) {
                            & {
                                line-height: 3.2rem;
                            }
                        }
                    }

                    >.list-title {
                        line-height: 5rem;
                        color: #5D4FF6;
                        text-transform: uppercase;
                        font-size: 1.6rem;

                        /* Mid ~ Tablet Size */
                        @media (min-width: 836px) and (max-width: 1439px) {
                            & {
                                font-size: 1.1rem;
                                line-height: 3.2rem;
                            }
                        }
                    }

                    &:first-child {
                        pointer-events: none;
                        border-top: 0;
                    }

                    &:last-child {
                        border-bottom: var(--border-thickness) solid #000;

                        &:hover,
                        &.active {
                            border-top: var(--border-thickness) solid var(--primary);
                            border-bottom: var(--border-thickness) solid var(--primary);
                            cursor: pointer;
                        }
                    }


                    &:not(:first-child) {
                        span {
                            font-size: 1.7rem;

                            &:first-child {
                                margin-right: 2rem;

                                /* Mid ~ Tablet Size */
                                @media (min-width: 836px) and (max-width: 1439px) {
                                    & {
                                        margin-right: 1.4rem;
                                    }
                                }
                            }

                            &:nth-of-type(3) {
                                margin-left: auto;
                            }

                            &.icon {
                                display: none;
                            }

                            /* Mid ~ Tablet Size */
                            @media (min-width: 836px) and (max-width: 1439px) {
                                & {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }

                    &:hover,
                    &.hover {
                        border-top: var(--border-thickness) solid var(--primary);
                        cursor: pointer;

                        +li {
                            border-top: var(--border-thickness) solid var(--primary);
                        }

                        span {
                            color: var(--primary);

                            &:nth-child(3) {
                                opacity: 0;
                                visibility: hidden;
                            }

                            &.icon {
                                display: block;
                            }
                        }
                    }

                    &.active {
                        border-top: var(--border-thickness) solid var(--primary);
                        pointer-events: none;

                        +li {
                            border-top: var(--border-thickness) solid var(--primary);
                        }

                        span {
                            color: var(--primary);

                            &.icon {
                                display: none;
                            }
                        }
                    }

                    /* Mid ~ Tablet Size */
                    @media (min-width: 836px) and (max-width: 1439px) {
                        & {
                            border-top: var(--border-thickness) solid #000;
                        }

                        &:last-child {
                            border-bottom: var(--border-thickness) solid #000;

                            &:hover,
                            &.active {
                                border-top: var(--border-thickness) solid var(--primary);
                                border-bottom: var(--border-thickness) solid var(--primary);
                                cursor: pointer;
                            }
                        }
                    }
                }

                &:first-child {
                    margin-bottom: 6.8rem;

                    /* Mid ~ Tablet Size */
                    @media (min-width: 836px) and (max-width: 1439px) {
                        & {
                            margin-bottom: 4rem;
                        }
                    }
                }

            }
        }

    }

    @media (min-width: 360px) and (max-width: 835px) {
        & {
            display: none;
        }
    }
}