.about {
    main {
        display: flex;
        width: 100%;
        height: calc(100vh - var(--header-height));        
        position: relative;

        section {
            .title{
                text-transform: uppercase;
                font-size: 18px;
                color: var(--gray);
            }
        }

        .title-list {
            >ul{
                padding-bottom: 100px;

                >li {
                    padding: var(--common-gap) 0;
                    border-bottom: 1px solid var(--black);
                    display: flex;
                    align-items: flex-start;
    
                    > span {
                        display: block;
                        width: 47.8%;
                        flex-shrink: 0;
                    }
    
                    >p {
                        font-size: 20px;
                        line-height: 26px;
    
                        em{
                            display: block;
                            height: 15px;
                        }
                    }
    
                    >ul{
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        >li{
                            span{
                                font-size: 20px;
                                color: var(--gray);
                                display: block;
                                margin-bottom: 8px;
                            }
                            b{
                                font-size: 22px;
                                font-weight: 500;
                                line-height: 30px;
                            }
                        }
                    }
    
                    &:first-child {
                        padding-top: 0;
                    }
    
                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
           
        }

        .about-img {
            width: 45%;
            margin-left: var(--common-gap);
            flex-shrink: 0;

            .img-box{
                width: 100%;
                height: calc(100% - 85px);
                border-radius: 20px;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .contact{
                padding: var(--common-gap) 0;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                
                ul{
                    a{
                        font-size: 20px;
                        font-weight: 600;
                        display: inline-block;
                        width: 250px;
                        margin-right: 8px;
                        margin-bottom: 8px;
                    }
                }
            }
        }


        .hide-bottom{
            position: absolute;
            bottom: -78px;
            width: 100%;
            height: 150px;
            background-color: #fff;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
    }

}