@keyframes opacityPage{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}

.about {
    
    main {
        display: flex;
        width: 100%;
        height: calc(100vh - var(--header-height));
        position: relative;
        opacity: 0;
        transform: translateY(-100px);
        animation: opacityPage 1.3s ease-in-out 0s 1 normal forwards;

        /* tablet size */
        @media (min-width: 1023px) and (max-width: 1439px){
            &{
                height: fit-content;
            }
          }

        section {
            .title{
                text-transform: uppercase;
                font-size: 16px;
                color: var(--gray);
                white-space: nowrap;

                @media (min-width: 1023px) and (max-width: 1439px){
                    & {
                        font-size: 11px;
                    }
                }
            }


            /* tablet size */
            @media (min-width: 1023px) and (max-width: 1439px){
                & {
                    height: fit-content;
                }
            }
        }

        .title-list {
            >ul{
                padding-bottom: 100px;

                /* tablet size */
                @media (min-width: 1023px) and (max-width: 1439px){
                    & {
                        padding-bottom: 0;
                    }
                }

                >li {
                    padding: var(--common-gap) 0;
                    border-bottom: var(--border-thickness) solid var(--black);
                    display: flex;
                    align-items: flex-start;

                    @media (min-width: 1023px) and (max-width: 1439px){
                        & {
                            border-bottom: var(--border-thickness) solid var(--black);
                        }
                    }
    
                    > span {
                        display: block;
                        width: 47.7%;
                        flex-shrink: 0;

                        @media (min-width: 1023px) and (max-width: 1439px){
                            & {
                                width: 45%;
                            }
                        }
                    }
    
                    >p {
                        font-size: 20px;
                        line-height: 26px;
    
                        em{
                            display: block;
                            height: 15px;
                        }

                        @media (min-width: 1023px) and (max-width: 1439px){
                            & {
                                font-size: 14px;
                                line-height: 18px;
                            }
                        }
                    }
    
                    >ul{
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        @media (min-width: 1023px) and (max-width: 1439px){
                            & {
                                gap: 12px;
                            }
                        }
                        >li{
                            span{
                                font-size: 20px;
                                color: var(--gray);
                                display: block;
                                margin-bottom: 8px;

                                @media (min-width: 1023px) and (max-width: 1439px){
                                    & {
                                        font-size: 12px;
                                        margin-bottom: 3px;
                                    }
                                }
                            }
                            b{
                                font-size: 22px;
                                font-weight: 500;
                                line-height: 30px;

                                @media (min-width: 1023px) and (max-width: 1439px){
                                    & {
                                        font-size: 14px;
                                        line-height: 1px;
                                    }
                                }
                            }
                        }
                    }
    
                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                    
                }
            }
           
        }

        .about-img {
            width: 45%;
            margin-left: var(--common-gap);
            flex-shrink: 0;

            @media (min-width: 1023px) and (max-width: 1439px){
                & {
                    width: 39%;
                }
            }

            .img-box{
                width: 100%;
                height: calc(100% - 85px);
                overflow: hidden;
                border-radius: 20px;

                @media (min-width: 1023px) and (max-width: 1439px){
                    & {
                        height: 480px;
                    }
                }
    

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .m-title-list{
                display: none;
            }

            .contact{
                    padding: var(--common-gap) 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;

                    ul{
                        width: 415px;

                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            a{
                                font-size: 20px;
                                font-weight: 500;
                                display: inline-block;
                                margin-bottom: 8px;
    
                            }
                        }

                        @media (min-width: 1023px) and (max-width: 1439px){
                            &.desktop {
                                display: none;
                            }
                        }

                        &.tablet{
                            display: none;

                            @media (min-width: 1023px) and (max-width: 1439px){
                                & {
                                    display: flex;
                                    justify-content: flex-end;
                                    gap: 22px;


                                    >li{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;

                                        a{
                                            font-size: 12px;
                                            width: unset;
                                            margin-right: 0;
                                            margin-bottom: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
            }


            /* arrow styling */
            .dig{
                &::after{
                    content: '';
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background: url('/assets/images/icons/arrow-dig.svg') no-repeat;
                    background-size: contain;
                    vertical-align: middle;
                    margin-left: 3px;
                }

                @media (min-width: 1023px) and (max-width: 1439px){
                    &::after {
                        width: 13px;
                        height: 13px;
                        margin-left: 2px;
                    }
                }

                @media (min-width: 360px) and (max-width: 1023px){
                    &::after {
                        width: 13px;
                        height: 13px;
                        margin-left: 2px;
                    }
                }
            }
        }
        
        .hide-bottom{
            position: absolute;
            bottom: -78px;
            width: 100%;
            height: 150px;
            background-color: #fff;
            transition: transform 0.3s ease, opacity 0.3s ease;

              /* tablet size */
              @media (min-width: 1023px) and (max-width: 1439px){
                &{
                    display: none;
                }
              }
        }

        /* Mobile Size */
        @media (min-width: 360px) and (max-width: 1023px) {
            & {
                display: block;
                padding-top: var(--common-gap);
                

            >.title-list{
                display: none;
            }

            >.about-img{
                width: 100%;
                margin-left: 0;

                .img-box{
                    width: 100%;
                    border-radius: 10px;
                    
                    picture{
                        width: 100%;
                    }
                }

                .m-title-list{
                    display: block;
                    padding-bottom: 70px;
                    
                    .title{
                        font-size: 11px;
                        color: var(--gray);
                        display: inline-block;
                        margin-bottom: 13px;

                    }

                    >ul{
                        >li{
                            padding-bottom: 20px;
                            padding-top: 20px;
                            border-bottom: var(--border-thickness) solid var(--black);

                            >p{
                                font-size: 14px;
                                line-height: 18px;

                                em{
                                    display: block;
                                    height: 8px;
                                }
                                
                            }

                            >ul{
                                >li{
                                    &:not(:last-child){
                                        margin-bottom: 10px;
                                    }
    
                                    >span{
                                        font-size: 12px;
                                        display: block;
                                        margin-bottom: 4px;
                                    }
                                    
                                    >b{
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 17px;
                                        
                                        >a{
                                            font-size: 14px;
                                            font-weight: 500;
                                            line-height: 17px;
                                        }
                                    }
                                }
                            }

                            &.m-contact{
                                li{
                                    margin-bottom: 5px !important;
                                }
                            }

                            &:last-child{
                                border-bottom: 0;
                            }

                        }
                    }               
                }
            }

            .contact{
                display: none !important;
            }

            .hide-bottom{
                display: none;
            }

            }
        }
        
    }

    @media (min-width: 1023px) and (max-width: 1439px){
        & {
            overflow: hidden;
        }
    }

   
}