@keyframes opacityPage{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.about {
    main {
        display: flex;
        width: 100%;
        height: calc(100vh - var(--header-height));        
        position: relative;
        animation: opacityPage 1s linear 0s 1 normal forwards;

        section {
            .title{
                text-transform: uppercase;
                font-size: 18px;
                color: var(--gray);
                white-space: nowrap;

                @media (min-width : 1023px) and (max-width:1439px) {
                    &{
                        font-size: 11px;
                    }
                }
            }
        }

        .title-list {
            >ul{
                padding-bottom: 100px;

                >li {
                    padding: var(--common-gap) 0;
                    border-bottom: 1px solid var(--black);
                    display: flex;
                    align-items: flex-start;
    
                    > span {
                        display: block;
                        width: 47.8%;
                        flex-shrink: 0;

                        @media (min-width : 1023px) and (max-width:1439px) {
                            &{
                                width: 42.8%;
                            }
                        }
                    }
    
                    >p {
                        font-size: 20px;
                        line-height: 26px;
    
                        em{
                            display: block;
                            height: 15px;
                        }

                        @media (min-width : 1023px) and (max-width:1439px) {
                            &{
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                    }
    
                    >ul{
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        @media (min-width : 1023px) and (max-width:1439px) {
                            &{
                                gap: 12px;
                            }
                        }

                        >li{
                            span{
                                font-size: 20px;
                                color: var(--gray);
                                display: block;
                                margin-bottom: 8px;

                                @media (min-width : 1023px) and (max-width:1439px) {
                                    &{
                                        font-size: 12px;
                                        margin-bottom: 3px;
                                    }
                                }
                            }
                            b{
                                font-size: 22px;
                                font-weight: 500;
                                line-height: 30px;
                                @media (min-width : 1023px) and (max-width:1439px) {
                                    &{
                                        font-size: 14px;
                                        line-height: 1;
                                    }
                                }
                            }
                        }
                    }
    
                    &:first-child {
                        padding-top: 0;
                    }
    
                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
           
        }

        .about-img {
            width: 45%;
            margin-left: var(--common-gap);
            flex-shrink: 0;

            @media (min-width : 1023px) and (max-width:1439px) {
                &{
                    width: 39%;
                }
            }
            

            .img-box{
                width: 100%;
                height: calc(100% - 85px);
                border-radius: 20px;
                overflow: hidden;

                @media (min-width : 1023px) and (max-width:1439px) {
                    &{
                       height: 480px;
                    }
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .contact{
                padding: var(--common-gap) 0;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                
                ul{
                    width: 415px;
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        a{
                            font-size: 20px;
                            font-weight: 600;
                            display: inline-block;
                            margin-bottom: 8px;
                        }
                    }

                    @media (min-width : 1023px) and (max-width:1439px) {
                        &.desktop{
                            display: none;
                        }
                    }

                    &.tablet{
                        display: none;

                        @media (min-width : 1023px) and (max-width:1439px) {
                            &{
                                display: flex;
                                justify-content: flex-end;
                                gap: 22px;

                                >li{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    
                                    a{
                                        font-size: 12px;
                                        width: unset;
                                        margin-right: 0;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        .hide-bottom{
            position: absolute;
            bottom: -78px;
            width: 100%;
            height: 150px;
            background-color: #fff;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
    }

    @media (min-width : 1023px) and (max-width:1439px) {
        &{
            overflow: hidden;
        }
    }

}