.detail {
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;

    main {
        .left {

            /* Mobile Size */
            @media (min-width: 360px) and (max-width: 1023px) {
                & {
                    padding-bottom: 15px;
                }
            }

            .work-info {
                padding-bottom: 27px;
                border-bottom: var(--border-thickness) solid var(--black);

                /* Tablet Size */
                @media (min-width: 1023px) and (max-width: 1439px) {
                    & {
                        padding-bottom: 20px;
                        border-bottom: var(--border-thickness) solid var(--black);
                    }
                }

                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 1023px) {
                    & {
                        padding-bottom: 15px;
                        border-bottom: var(--border-thickness) solid var(--black);
                    }
                }



                ul {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 14px;
                    width: 100%;

                    @media (min-width: 1023px) and (max-width: 1439px) {
                        & {
                            gap: 13px;
                        }
                    }

                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 1023px) {
                        & {
                           gap: 13px;
                        }
                    }

                    li {
                        display: flex;
                        align-items: center;
                        gap: 26px;

                        @media (min-width: 1023px) and (max-width: 1439px) {
                            & {
                                gap: 13px;
                            }
                        }


                        >span {
                            color: var(--gray);
                            font-size: 16px;
                            text-transform: uppercase;
                            display: inline-block;
                            width: 115px;

                            @media (min-width: 1023px) and (max-width: 1439px) {
                                & {
                                    font-size: 11px;
                                    width: 79px;
                                }
                            }

                            /* Mobile Size */
                            @media (min-width: 360px) and (max-width: 1023px) {
                                & {
                                    font-size: 11px;
                                    width: 75px;
                                }
                            }
                        }

                        >b {
                            color: var(--black);
                            font-size: 20px;
                            font-weight: 500;

                            @media (min-width: 1023px) and (max-width: 1439px) {
                                & {
                                    font-size: 14px;
                                }
                            }

                            /* Mobile Size */
                            @media (min-width: 360px) and (max-width: 1023px) {
                                & {
                                    font-size: 15px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }

            p {
                width: 100%;
                font-size: 20px;
                line-height: 26px;
            }
        }


        .right {
            padding-top: var(--common-gap);
            padding-bottom: 36px;
            overflow: auto;
            height: auto !important;

            >*{
                opacity: 0;
                transform: translateY(30px);
                transition: opacity 0.6s ease, transform 0.6s ease;

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            
    
            @media (min-width: 1023px) and (max-width: 1439px) {
                & {
                    padding-bottom: 28px;
                }
            }
    
            /* Mobile Size */
            @media (min-width: 360px) and (max-width: 1023px) {
                & {
                    padding-top: 0;
                    height: auto !important;
                    overflow: unset;
                    padding-bottom: 70px;
                }
            }
    
            .desc-01 {
                padding-bottom: 32px;
                font-size: 20px;
                line-height: 26px;
    
    
                @media (min-width: 1023px) and (max-width: 1439px) {
                    & {
                        font-size: 14px;
                        line-height: 18px;
                        padding-bottom: 16px;
                    }
                }
    
                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 1023px) {
                    & {
                        font-size: 14px;
                        line-height: 19px;
                        padding-bottom: 25px;
                    }
                }
            }
    
            .desc-02 {
                display: flex;
                align-items: flex-start;
                gap: 34px;
                padding-bottom: 40px;
                border-bottom: var(--border-thickness) solid var(--black);
                margin-bottom: var(--common-gap);
    
                @media (min-width: 1023px) and (max-width: 1439px) {
                    & {
                        border-bottom: var(--border-thickness) solid var(--black);
                        gap: 40px;
                        padding-bottom: 30px;
                        margin-bottom: 15px;
                    }
                }
    
                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 1023px) {
                    & {
                        display: block;
                        padding-bottom: 25px;
                        margin-bottom: 10px;
    
                    }
                }
    
                >b {
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 500;
                    display: inline-block;
                    width: 282px;
                    flex-shrink: 0;
    
                    @media (min-width: 1023px) and (max-width: 1439px) {
                        & {
                            font-size: 14px;
                            line-height: 18px;
                            width: 200px;
                        }
                    }
    
                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 1023px) {
                        & {
                            font-size: 16px;
                            line-height: 20px;
                            width: 100%;
                            margin-bottom: var(--common-gap);
                            margin-top: 5px;
                        }
                    }
    
                }
    
                >p {
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: 400;
    
                    @media (min-width: 1023px) and (max-width: 1439px) {
                        & {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
    
                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 1023px) {
                        & {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
    
                }
    
            }
    
            >.img-box {
                margin-bottom: 20px;
                width: 100%;
                border-radius: 20px;
                overflow: hidden;
    
                @media (min-width: 1023px) and (max-width: 1439px) {
                    & {
                        border-radius: 10px;
                        margin-bottom: 10px;
                    }
                }
    
                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 1023px) {
                    & {
                        border-radius: 10px;
                        margin-bottom: 8px;
                    }
                }
    
                img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: cover;
                }
    
                &:last-child {
                    margin-bottom: 0;
                }
    
            }
    
            .img-col-2 {
                width: 100%;
                display: flex;
                gap: 20px;
    
                @media (min-width: 1023px) and (max-width: 1439px) {
                    & {
                        gap: 10px;
                    }
                }
    
                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 1023px) {
                    & {
                        gap: 8px;
                    }
                }
    
    
                >.img-box {
                    margin-bottom: 20px;
                    width: 100%;
                    border-radius: 20px;
                    overflow: hidden;
    
                    @media (min-width: 1023px) and (max-width: 1439px) {
                        & {
                            border-radius: 10px;
                            margin-bottom: 10px;
    
                        }
                    }
    
                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 1023px) {
                        & {
                            border-radius: 10px;
                            margin-bottom: 8px;
                        }
                    }
    
                    img {
                        width: 100%;
                        display: block;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
    
    
            .pagenation {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                >a {
                    font-size: 18px;
                    line-height: 37px;
                    border: var(--border-thickness) solid var(--black);
                    padding: 0 22px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    margin: 0 7px;
                    gap: 5px;
    
                    &:hover {
                        border-color: var(--primary);
                        color: var(--primary);
    
                        >svg {
                            path {
                                fill: var(--primary);
                            }
                        }
                    }
    
                    &:active {
                        background-color: var(--black);
                        border-color: var(--black);
                        color: var(--white);
    
                        >svg {
                            path {
                                fill: var(--white);
                            }
                        }
                    }
    
                    /* Tablet Size */
                    @media (min-width: 1023px) and (max-width: 1439px) {
                        & {
                            font-size: 12px;
                            line-height: 28px;
                            padding: 0 13px;
                            border: var(--border-thickness) solid var(--black);
                            margin-top: 8px;
                        }
                    }
    
                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 1023px) {
                        margin-top: 5px;
                        font-size: 12px;
                        line-height: 27px;
                        padding: 0 15px;
                        margin-left: 0;
                        margin-right: 0;
    
                        &:only-child {
                            margin-left: auto;
                        }
                    }
                }
    
                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 1023px){
                        & {
                            justify-content: space-between;                
                        }
                    }
            }
        }
    }

}