.detail {

     /* Mid ~ Tablet Size */
    @media (min-width: 360px) and (max-width: 1439px) {
        & {
            height: 100dvh;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    main {
        /* Left Side : Work info */

        .left {

            /* Mobile Size */
            @media (min-width: 360px) and (max-width: 835px) {
                & {
                    padding-bottom: 1.5rem;
                }
            }

            .work-info {
                padding-bottom: 2.7rem;
                border-bottom: var(--border-thickness) solid var(--black);

                /* Mid ~ Tablet Size */
                @media (min-width: 836px) and (max-width: 1439px) {
                    & {
                        padding-bottom: 2rem;
                    }
                }

                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 835px) {
                    & {
                        padding-bottom: 1.5rem;
                    }
                }



                /* project name / category / instructor */

                ul {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 1.4rem;
                    width: 100%;

                    /* Mobile ~ Tablet Size */
                    @media (min-width: 360px) and (max-width: 1439px) {
                        & {
                            gap: 1.3rem;
                        }
                    }

                    li {
                        display: flex;
                        align-items: center;
                        gap: 2.6rem;

                        /* Mid ~ Tablet Size */
                        @media (min-width: 836px) and (max-width: 1439px) {
                            & {
                                gap: 1.3rem;
                            }
                        }


                        >span {
                            color: var(--gray);
                            font-size: 1.6rem;
                            text-transform: uppercase;
                            display: inline-block;
                            width: 11.5rem;

                            /* Mid ~ Tablet Size */
                            @media (min-width: 836px) and (max-width: 1439px) {
                                & {
                                    font-size: 1.1rem;
                                    width: 7.9rem;
                                }
                            }

                            /* Mobile Size */
                            @media (min-width: 360px) and (max-width: 835px) {
                                & {
                                    font-size: 1.1rem;
                                    width: 7.5rem;
                                }
                            }
                        }

                        >b {
                            color: var(--black);
                            font-size: 2rem;
                            font-weight: 500;

                            /* Mid ~ Tablet Size */
                            @media (min-width: 836px) and (max-width: 1439px) {
                                & {
                                    font-size: 1.4rem;
                                }
                            }

                            /* Mobile Size */
                            @media (min-width: 360px) and (max-width: 835px) {
                                & {
                                    font-size: 1.5rem;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }

            p {
                width: 100%;
                font-size: 2rem;
                line-height: 2.6rem;
            }
        }


        /* Right Side : Detail description */
        
        .right {
            padding-top: var(--common-gap);
            padding-bottom: 3.6rem;

            >* {
                /* opacity: 1; */
                /* transform: translateY(-3rem); */
                /* transition: opacity 0.6s ease, transform 0.6s ease; */

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            /* Mid ~ Tablet Size */
            @media (min-width: 836px) and (max-width: 1439px) {
                & {
                    padding-bottom: 2.8rem;
                }
            }

            /* Mobile Size */
            @media (min-width: 360px) and (max-width: 835px) {
                & {
                    padding-top: 0;
                    height: auto !important;
                    overflow: unset;
                    padding-bottom: 7rem;
                }
            }


            /* 최상단 설명글 스타일 */
            .desc-01 {
                padding-bottom: 3.2rem;
                font-size: 2rem;
                line-height: 2.6rem;


                /* Mid ~ Tablet Size */
                @media (min-width: 836px) and (max-width: 1439px) {
                    & {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        padding-bottom: 1.6rem;
                    }
                }

                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 835px) {
                    & {
                        font-size: 1.4rem;
                        line-height: 1.9rem;
                        padding-bottom: 2.5rem;
                    }
                }
            }


            /* 중간 설명글 스타일 (강조문구 + 설명글) */
            .desc-02 {
                display: flex;
                align-items: flex-start;
                gap: 3.4rem;
                padding-bottom: 4rem;
                border-bottom: var(--border-thickness) solid var(--black);
                margin-bottom: var(--common-gap);

                /* Mid ~ Tablet Size */
                @media (min-width: 836px) and (max-width: 1439px) {
                    & {
                        border-bottom: var(--border-thickness) solid var(--black);
                        gap: 4rem;
                        padding-bottom: 3rem;
                        margin-bottom: 1.5rem;
                    }
                }

                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 835px) {
                    & {
                        display: block;
                        padding-bottom: 2.5rem;
                        margin-bottom: 1rem;

                    }
                }

                >b {
                    font-size: 2rem;
                    line-height: 2.6rem;
                    font-weight: 500;
                    display: inline-block;
                    width: 28.2rem;
                    flex-shrink: 0;

                    /* Mid ~ Tablet Size */
                    @media (min-width: 836px) and (max-width: 1439px) {
                        & {
                            font-size: 1.4rem;
                            line-height: 1.8rem;
                            width: 20rem;
                        }
                    }

                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 835px) {
                        & {
                            font-size: 1.6rem;
                            line-height: 2rem;
                            width: 100%;
                            margin-bottom: var(--common-gap);
                            margin-top: .5rem;
                        }
                    }

                }

                >p {
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    font-weight: 400;

                    /* Mid ~ Tablet Size */
                    @media (min-width: 836px) and (max-width: 1439px) {
                        & {
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                    }

                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 835px) {
                        & {
                            font-size: 1.4rem;
                            line-height: 1.8rem;
                        }
                    }

                }

            }


            /* 이미지 영역 스타일 */
            >.img-box {
                margin-bottom: 2rem;
                width: 100%;
                border-radius: var(--border-radius);
                overflow: hidden;
                box-sizing: border-box;

                &.border{
                    border: 1px solid #000;
                }

                /* Mid ~ Tablet Size */
                @media (min-width: 836px) and (max-width: 1439px) {
                    & {
                        margin-bottom: 1rem;
                    }
                }

                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 835px) {
                    & {
                        margin-bottom: .8rem;
                    }
                }

                img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: cover;
                }

                &:last-child {
                    margin-bottom: 0;
                }

            }


            /* 2개의 이미지가 붙어있는 스타일 */
            .img-col-2 {
                width: 100%;
                display: flex;
                gap: 2rem;

                /* Mid ~ Tablet Size */
                @media (min-width: 836px) and (max-width: 1439px) {
                    & {
                        gap: 1rem;
                    }
                }

                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 835px) {
                    & {
                        gap: .8rem;
                    }
                }


                >.img-box {
                    margin-bottom: 2rem;
                    width: 100%;
                    border-radius: var(--border-radius);
                    overflow: hidden;

                    /* Mid ~ Tablet Size */
                    @media (min-width: 836px) and (max-width: 1439px) {
                        & {
                            margin-bottom: 1rem;

                        }
                    }

                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 835px) {
                        & {
                            margin-bottom: .8rem;
                        }
                    }

                    img {
                        width: 100%;
                        display: block;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }


            /* 페이지 버튼  */
            .pagenation {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                >a {
                    font-size: 1.8rem;
                    line-height: 3.7rem;
                    border: var(--border-thickness) solid var(--black);
                    padding: 0 2.2rem;
                    border-radius: 5rem;
                    display: flex;
                    align-items: center;
                    margin: 0 .7rem;
                    gap: .5rem;

                    &:hover {
                        border-color: var(--primary);
                        color: var(--primary);

                        >svg {
                            path {
                                fill: var(--primary);
                            }
                        }
                    }

                    &:active {
                        background-color: var(--black);
                        border-color: var(--black);
                        color: var(--white);

                        >svg {
                            path {
                                fill: var(--white);
                            }
                        }
                    }

                    /* Mid ~ Tablet Size */
                    @media (min-width: 836px) and (max-width: 1439px) {
                        & {
                            font-size: 1.2rem;
                            line-height: 2.8rem;
                            padding: 0 1.3rem;
                            border: var(--border-thickness) solid var(--black);
                            margin-top: .8rem;
                        }
                    }

                    /* Mobile Size */
                    @media (min-width: 360px) and (max-width: 835px) {
                        margin-top: .5rem;
                        font-size: 1.2rem;
                        line-height: 2.7rem;
                        padding: 0 1.5rem;
                        margin-left: 0;
                        margin-right: 0;

                        &:only-child {
                            margin-left: auto;
                        }

                        .end-page &{
                            margin-left: unset;
                        }
                    }
                }

                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 835px) {
                    & {
                        justify-content: space-between;
                    }
                }
            }
        }
    }

}