.play {

    /* 모바일에서 하단바 고정 */
    @media (min-width: 360px) and (max-width: 835px) {
        & {
            height: 100dvh;
            overflow-x: hidden;
            overflow-y: auto;
        }

        header {
            position: fixed;
            width: calc(100% - (var(--common-gap)*2));
        }
    }

    main {
        display: flex;
        gap: var(--common-gap);

        /* Mobile Size */
        @media (min-width: 360px) and (max-width: 835px) {
            flex-direction: column;
            gap: 0;
        }

        .grid {
            width: 100%;

            .grid-sizer,
            .grid-item {
                width: calc((100% - 3.9rem) / 3);
                direction: ltr;

                /* Macbook Size */
                @media (min-width: 1536px) and (max-height: 900px) {
                    width: calc((100% - 5rem) / 3);
                }

                /* Tablet Size */
                @media (min-width: 836px) and (max-width: 1439px) {
                    & {
                        width: calc((100% - 2.2rem) / 3);
                    }
                }

                /* Mobile Size */
                @media (min-width: 360px) and (max-width: 835px) {
                    width: calc((100% - 1.1rem) / 2);
                }
            }

            .grid-item {
                opacity: 0;
                transform: translateY(3rem);
                transition: opacity 0.6s ease, transform 0.6s ease;

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }

                &.margin-none {
                    margin-right: 0;
                }

                a {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    transition: all 0.3s;
                    cursor: default;

                    picture {
                        display: block;
                        border-radius: var(--border-radius);
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                        }
                    }


                    .p-title {
                        display: block;
                        font-size: 1.8rem;
                        font-weight: 600;
                        margin-top: 1rem;
                        margin-bottom: 2.8rem;

                        /* Mid ~ Tablet Size */
                        @media (min-width: 836px) and (max-width: 1439px) {
                            font-size: 1.2rem;
                            margin-top: .8rem;
                            margin-bottom: 1.6rem;
                        }

                        /* Mobile Size */
                        @media (min-width: 360px) and (max-width: 835px) {
                            font-size: 1.1rem;
                            line-height: 1.3rem;
                            margin-top: .5rem;
                            margin-bottom: 1.8rem;
                        }

                    }

                }
            }

            .blank {
                width: 100%;
                height: 8rem;
            }
        }

    }

}