.work {

    main {
        display: flex;
        gap: var(--common-gap);
        height : calc(100vh - var(--header-height));
        padding-top: var(--header-height);

        .left {
            padding-top: var(--common-gap);
            width: var(--left-width);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 98px;

            @media (min-width: 1023px) and (max-width: 1439px){
                & {
                    padding-bottom: 77px;
                }
            }

            .introduce {
                width: 100%;
                display: flex;
                align-items: flex-end;

                p {
                    width: 100%;
                    font-size: 20px;
                    line-height: 28px;

                    @media (min-width: 1023px) and (max-width: 1439px){
                        & {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }
            }

        }

        .right {
            width: calc(100% - var(--left-width) - var(--common-gap));
            height: unset !important;
            overflow: hidden;
            overflow-y: auto;

            .grid-sizer,.grid-item { 
                width: 49.3%;
                direction: ltr;
            }

            .grid-item {
                margin-bottom: 17px;
                border-radius: 20px;
                overflow: hidden;
                opacity: 0;
                transform: translateY(30px);
                transition: opacity 0.6s ease, transform 0.6s ease;

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }

                &.margin-none{
                    margin-right: 0;
                }

                @media (min-width: 1023px) and (max-width: 1439px){
                    & {
                        margin-bottom: 11px;
                    }
                }

                a {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    transition: all 0.3s;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                    }

                    .m-title{
                        display: none;
                    }

                    &::after {
                        content: '';
                        transition: background-color 0.3s;
                    }


                    &:hover,
                    &:active, 
                    &.active {
                        &::after {
                            content: '';
                            color: #fff;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.4);
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            align-content: center;
                            font-size: 22px;
                            letter-spacing: 0.6px;
                            font-weight: 500;
                        }

                        @media (min-width: 1023px) and (max-width: 1439px){
                            &::after {
                                font-size: 16px;
                            }
                        }

                        /* Mobile Size */
                        @media (min-width: 360px) and (max-width: 1023px) {
                            &::after {
                                font-size: 15px;
                            }
                        }
                    }

                    /* 썸네일관리 */
                    &.work01 {
                        &:hover, &.active {
                            &::after {
                                content: 'AHOLE Typeface';
                            }

                        }
                    }

                    &.work02 {
                        &:hover, &.active {
                            &::after {
                                content: 'MORII Magazine';
                            }

                        }
                    }

                    &.work03 {
                        &:hover, &.active {
                            &::after {
                                content: 'COMM DSGN';
                            }

                        }
                    }

                    &.work04 {
                        &:hover, &.active {
                            &::after {
                                content: 'Hey, Nike!';
                            }

                        }
                    }

                    &.work05 {
                        &:hover, &.active {
                            &::after {
                                content: 'Airplan';
                            }

                        }
                    }

                    &.work06 {
                        &:hover, &.active {
                            &::after {
                                content: 'Pedal to Petal';
                            }

                        }
                    }

                    &.work07 {
                        &:hover, &.active {
                            &::after {
                                content: 'Pedal to Petal';
                            }

                        }
                    }

                    &.work08 {
                        &:hover, &.active {
                            &::after {
                                content: 'Yearbook Poster';
                            }

                        }
                    }

                    &.work09 {
                        &:hover, &.active {
                            &::after {
                                content: 'SOLE Magazine';
                            }

                        }
                    }

                    &.work10 {
                        &:hover, &.active {
                            &::after {
                                content: 'COMM DSGN';
                            }

                        }
                    }

                }
            }

            .blank-top{
                width: 100%;
                height: var(--common-gap);
                margin-bottom: 0;
            }

            .blank{
                width: 100%;
                height: 80px;
            }
        }

       /* Mobile Size */ 
        @media (min-width: 360px) and (max-width: 1023px){
            &{
                flex-direction: column;
                gap: 0;
                padding-top: 0;

                .left{
                    width: 100%;
                    padding-top: var(--common-gap);
                    padding-bottom: 34px;

                    .introduce{
                        width: 100%;

                        >p{
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                }

                .right{
                    width: 100%;
                    /* height: 100% !important; */
                    overflow: unset;

                    .grid-sizer, .grid-item { 
                        width: 100%;
                        overflow: unset;
                        border-radius: 0;

                        >a {

                            img{
                                border-radius: 10px;
                            }
                            .m-title{
                                display: block;
                                font-size: 12px;
                                font-weight: 600;
                                margin-top: 7px;
                                margin-bottom: 3px;
                            }

                        }

                        &.blank-top{
                            display: none;
                        }
                    }
                }
            }
         }

    }

}