.work {

    /* 모바일에서 하단바 고정 */
    @media (min-width: 360px) and (max-width: 1439px) {
        & {
            height: 100dvh;
            overflow: visible;
        }
    }

    main {
        display: flex;
        gap: var(--common-gap);
        padding-top: var(--header-height);

        /* mobile Size */
        @media (min-width: 360px) and (max-width: 835px) {
            flex-direction: column;
            gap: 0;
            padding-top: 0;
        }


        /* Left side */
        .left {
            position: fixed;
            width: 100%;
            max-width: var(--left-width);
            height: calc(100% - var(--header-height) - var(--common-gap));
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: var(--common-gap);


            /* mobile Size */
            @media (min-width: 360px) and (max-width: 835px) {
                position: unset;
                max-width: unset;
                width: 100%;
                padding-top: var(--common-gap);
                padding-bottom: 3rem;
                height: auto;
            }


            .introduce {
                width: 100%;
                display: flex;
                align-items: flex-end;

                /* mobile size */
                @media (min-width: 360px) and (max-width: 835px) {
                    width: 100%;
                }

                p {
                    width: 100%;
                    font-size: 2rem;
                    line-height: 2.8rem;


                    /* Mid ~ Tablet Size */
                    @media (min-width: 836px) and (max-width: 1439px) {
                        & {
                            font-size: 1.4rem;
                            line-height: 1.8rem;
                        }
                    }

                    /* mobile size */
                    @media (min-width: 360px) and (max-width: 835px) {
                        font-size: 1.4rem;
                        line-height: 1.9rem;
                    }


                }
            }

        }


        /* Right side */
        .right {
            width: calc(100% - var(--left-width) - var(--common-gap));
            margin-left: calc(var(--left-width) + var(--common-gap));
          
            /* mobile Size */
            @media (min-width: 360px) and (max-width: 835px) {
                position: relative !important;
                width: 100%;
                overflow: unset;
                margin-left: 0;
            }


            /* 썸네일 크기 조정 */
            .grid-sizer,
            .grid-item {
                width: calc((100% - 2rem) / 2);
                /*2 colunm*/
                direction: ltr;

                /* Macbook Size */
                @media (min-width: 1440px) and (max-height: 900px) {
                    width: calc((100% - 2.5rem) / 2);
                    /*2 colunm*/
                }

                 /* Tablet Size */
                @media (min-width: 1024px) and (max-height: 900px) {
                    width: calc(50% - (1.1rem / 2));
                    /*2 colunm*/
                }

                /* Mid Size*/
                @media (min-width: 836px) and (max-width: 1023px) {
                    width: 100%;
                }

                /* mobile size */
                @media (min-width: 360px) and (max-width: 835px) {
                    width: 100%;
                    overflow: unset;
                    border-radius: 0;
                }
            }

            .grid-item {
                margin-bottom: 1.7rem;
                border-radius: var(--border-radius);
                overflow: hidden;
                opacity: 0;
                transform: translateY(3rem);
                transition: opacity 0.6s ease, transform 0.6s ease;

                /* mobile size */
                @media (min-width: 360px) and (max-width: 835px) {
                    border-radius: 0;
                }

                &.show:not(.blank-top) {
                    opacity: 1;
                    transform: translateY(0);
                }

                &.margin-none {
                    margin-right: 0;
                }

                &:nth-last-child(2){
                    margin-bottom: 0;
                }

                /* Mid ~ Tablet Size */
                @media (min-width: 836px) and (max-width: 1439px) {
                    & {
                        margin-bottom: 1.1rem;
                    }
                }

                a {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    transition: all 0.3s;

                    /* mobile size */
                    @media (min-width: 360px) and (max-width: 835px) {
                        margin-bottom: 1.5rem;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;

                        /* mobile size */
                        @media (min-width: 360px) and (max-width: 835px) {
                            border-radius: var(--border-radius)
                        }

                    }

                    .m-title {
                        display: none;

                        /* mobile size */
                        @media (min-width: 360px) and (max-width: 835px) {
                            display: block;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            font-size: 1.1rem;
                            font-weight: 600;
                            margin-top: .7rem;
                            margin-bottom: .3rem;
                        }
                    }

                    &::after {
                        content: '';
                        transition: background-color 0.3s;
                    }


                    &:hover,
                    &:active,
                    &.active {
                        &::after {
                            content: attr(name);
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.4);
                            width: 100%;
                            height: 100%;
                            font-size: 2.2rem;
                            letter-spacing: 0.06rem;
                            font-weight: 500;
                            border-radius: var(--border-radius);
                        }

                        .m-title {
                            text-decoration: underline;
                        }

                        /* Mid ~ Tablet Size */
                        @media (min-width: 836px) and (max-width: 1439px) {
                            &::after {
                                font-size: 1.6rem;
                            }
                        }

                        /* Mobile Size */
                        @media (min-width: 360px) and (max-width: 835px) {
                            &::after {
                                font-size: 1.5rem;
                            }
                        }
                    }

                }

                
            }




            /* blank  ------- */
            .blank-top {
                width: 100%;
                height: var(--common-gap);
                margin-bottom: 0;

                /* mobile size */
                @media (min-width: 360px) and (max-width: 835px) {
                    display: none;
                }
            }

            .blank {
                width: 100%;
                height: 8rem;
            }
        }

    }

}