:root{
    --left-width : 24%;
    --header-height : 60px;
    --common-gap : 30px;
    --border-height : 1.5px
}


/* Tablet size */
@media (min-width : 1023px) and (max-width:1439px) {
    :root{
        --header-height : 42px;
        --common-gap : 15px;
        --left-width : 25%;
        --border-height : 1px
    }
}

 /* mobile size */
 @media (min-width : 360px) and (max-width:1023px){
    :root{
        --common-gap : 15px;
        --header-height : 48px;
        --border-height : 1px
    }
}