
html{
    font-size: 62.5%;
}

:root{
    --left-width: 44.3rem;
    --header-height: 6rem;
    --common-gap: 3rem;
    --border-thickness: .15rem;
    --border-radius : 2rem;
}


/* Macbook Size */
@media (min-width: 1440px) and (max-height: 900px){
    html{
        font-size: 50%;
    }
}

/* Tablet Size */
@media (min-width: 1024px) and (max-width: 1439px){
    :root{
        --header-height: 4.2rem;
        --common-gap: 1.5rem;
        --left-width: 25.5rem;
        --border-thickness: .1rem;
        --border-radius : 1rem;
    }
}

/* Mid Size */
@media (min-width: 836px) and (max-width: 1023px){
    :root{
        --header-height: 4.2rem;
        --left-width: 25.5rem;
        --common-gap: 1.5rem;
        --border-radius : 1rem;
    }
}

/* Mobile Size */
@media (min-width: 360px) and (max-width: 835px){
    :root{
        --header-height: 4.2rem;
        --common-gap: 1.5rem;
        --border-thickness: .1rem;
        --border-radius : 1rem;
    }
}

